/***** base styles ******/
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Muli", sans-serif, serif;
  line-height: 1.5;
  color: #fff;
  background-color: #121212;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

/***** MEDIA QUERIES *****/

@media only screen and (max-width: 75em) /* 900px - 1200px tablet landscape*/ {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) /* 600px - 900px tablet potrait */ {
  html {
    font-size: 50%;
  }
}
